

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 247, 237);
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: aliceblue;
    box-shadow: 20px 6px 6px grey;;
}

.add-book-container{
    margin: 20px;
    display: flex;
    justify-content: center;
    
}


#add-book {
    font-size: larger;
    font-style: italic;
    border:none;
}
#add-book-popup {
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 15px;
    transition: all 0.5s;
    padding: 10px;
    border-radius: 8px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: aquamarine;

}
#add-book-popup h3, div{
    text-align: center;
}

#add-book-popup input[type="checkbox"]{
    margin-top: 20px;
    margin-left: 20px;
    transform: scale(1.5);
    padding: 10px;
}

input[type = "text"], input[type="number"] {

    border: none;
    height: 25px;
}
#add-book-popup button{
    border: none;
    height: 25px;
}
.submit-book{
    margin-top: 20px;
    background-color: lime;
}
.close-popup{
    background-color: rgb(248, 160, 44);
}
#library-interface {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;

    
}
.book-div {
    width: 200px;
    padding-top:  20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;   
     margin: 20px;
    gap: 20px;
    background-color: lightblue;
    
}

.book-div div{
    width: 90%;
    overflow-wrap: break-word;

    
}
.book-div button {
    width: 180px;
    margin-right: 20px;
    margin-left: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    align-self: center;
}
.book-div button[readStatus = "read"]{
    background-color: lightgreen;
}
.book-div button[readStatus = "unread"]{
    background-color: lightcoral;
}

